@{
    ViewData["Title"] = "Dojo Survey Index";
}

<form action="/result" method="post">
    <div class="blocks">
        <label for="name">Your Name</label>
        <input type="text" id="name" name="Name"></input>
    </div>
    <div class="blocks">
        <label for="dojolocation">Dojo Location</label>
        <select id="dojolocation" name="Location">
            <option>San Jose</option>
            <option>San Pedro</option>
        </select>
    </div>
    <div class="blocks">
        <label for="favoritelanguage">Favorite Language</label>
        <select id="favoritelanguage" name="Favorite">
            <option>C#</option>
            <option>C++</option>
            <option>C</option>
        </select>
    </div>
    <div class="blocks blockstextarea">
        <label for="comment">Comment (optional):</label>
        <textarea id="comment" name="Comment"></textarea>
    </div>
    <div class="blocks">
        <button type="submit" class="btn1">Submit</button>
    </div>
</form>
